/* Add CSS styling here */
0px; 
 line-height:;
}

.nav ul{
    list-style:none;
    background:#45A29E;
    text-align:center;
    padding:10px;
    margin:0px;
}

.nav li{
    display:inline-block;
  
}
.nav a{ text-decoration: none;
    color:white;
    width:200px;
    display:block;
    padding:20px;
    font-size: 40px;
    font-family:Helvetica;
    font-stle:bold;
  border-radius:20px;
}

.nav a:hover{
    background:powderblue;
    transition: 0.5s;
    color:black;
  
}